h1 {
	font-size: 18px;
	text-align: center;
	font-family: "georgia";
	text-transform: uppercase;
	margin: 50px auto 10px auto;
}

h2 {
	font-size: 18px;
	text-align: left;
	font-family: "georgia";
}

h3 {
	font-size: 18px;
	text-align: center;
	font-family: 'georgia';
}

p {
	font-size: 16px;
	text-align: left;
	font-family: "georgia";
	border: 0px solid black;
	width: 500px;
	margin: 50px auto;
}

#intro{
	padding: 50px;
	margin: 50px 100px;
}

footer {
	text-align: center;
	margin: 150px auto 0px auto;
	border: 1px dotted black;
	padding: 0px 0px;
	font-family: "georgia";
	width: 700px;
}

.img-circle {border-radius: 50%;}

.img-circle:hover {border: 4px solid #FF3;}

.header {
	background:url(title.PNG) top center no-repeat;
	margin: 0 auto;
	padding-top: 150px;
}

a {color: black;}

table {
	font-size: 16px;
	font-family: "georgia";
	width: 600px;
	margin: 0 auto;
}

td {
	padding: 5px;
	vertical-align: top;
}

.nav{
	font-family: 'georgia';
	font-size: 16px;
	text-align: center;
}

// do stuff here starting at 1200px
// the styles defined above for .nav will be used up until here and even wider unless overwritten
// new styles within the media query will only come into effect at 1200px wide (that is, width ≥ 1200)
// you can also have a max-width query, see https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
// try dragging your window to figure out the correct values, I just guessed at 1200
// you can do multiple media queries (that's what these are called).
// min-width 600, min-width 800, min-width 1200, etc. to get granular about styling
@media (min-width: 1200px) {
	.nav {
		text-align: right;
		position: absolute;
		left: 100px;
		top: 550px;
	}
}

.navigation {
	border-top: 4px double black;
	border-bottom: 4px double black;
}

.blog {
	background-color: #D3D3D3;
	margin: 0 auto;
	width: 500px;
}
