p {
	font-size: 20px;
	text-align: center;
	font-family: "helvetica";
	padding: 50px;
	margin: 50px 100px;
}

footer {
	text-align: center;
	margin: 300px 300px 0px 300px;
	border: 1px dotted black;
	padding: 0px 0px;
	font-family: "helvetica";
	width: 700px;	
}
